<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About This Project</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <h1>About This Project</h1>
    <a href="https://www.linkedin.com/in/williamwarner24/">LinkedIn</a>
    <a href="https://github.com/wjwarner24">GitHub</a>
    <p>Hello, I'm William Warner, the creator of this project!</p>

    <p>This Flask program allows users to upload CSV files and write queries to be performed on the data in plain english. The program translates the uploaded CSV file to an SQL table, then calls OpenAI API to translate that query into a valid SQL Query, perform that SQL query on the data, and visualize the results in an interactive web interface. Furthermore, if the query performed updated the sql table, you may download a new, updated csv file reflecting those changes.</p>

    <p>Key Features:</p>
    <ul>
        <li>CSV File Upload: Users can easily upload CSV files for processing.</li>
        <li>CSV to SQL table: The program translates the CSV file to an SQL table.</li>
        <li>User Input: Users can write queries to be executed in plain english.</li>
        <li>OpenAI API call: The OpenAI API will translate those queries to valid SQL.</li>
        <li>Data Visualization: Results are displayed in a user-friendly table format for easy interpretation.</li>
        <li>Download Functionality: Users can download the processed CSV file for their records.</li>
    </ul>

    <p>This program uses: Flask, SQL, Linux, Ubuntu, Apache, Web Server, Python, HTML, CSS</p><br>
    <p>This program can be extremely useful for quickly understanding some facts about a csv file you are working with. It allows for easy data manipulation and insights, even for those with no technical background. Simply upload your csv file, describe what you want done with the data, and viola! it is done!</p>
    <p>Thank you for exploring this project. If you have any questions or opportunities, feel free to contact me at wjwarner24@gmail.com.</p>
  


    <a href="{{ url_for('index') }}" class="return-button">Return to Home</a>
</body>
</html>
