<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV File Upload</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <h1>CSV File AI Tool</h1>
    <a href="{{ url_for('about') }}" class="about-button">About This Project</a>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Choose a CSV file:</label>
        <input type="file" name="file" id="file" accept=".csv" required>
        <br>
        <input type="submit" value="Upload and Process">
    </form>

    {% if data_exists %}
        <h2>Total Number of Rows: {{ num_rows }}</h2>
    

    
        <h2>First 5 Rows:</h2>
        <table>
            <thead>
                <tr>
                    {% for column in data.columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, row in data.iterrows() %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        


<form action="/query" method="post">
    <label for="user_query">Explain in plain English the query you want to be ran on this database:</label>
    <br>
    <textarea name="user_query" id="user_query" rows="5" required></textarea>
    <br>
    <input type="submit" value="Run Query">
</form>
{% endif %}


{% if result_exists %}
    {% if not update_query %}
    <h2>SQL Query Result:</h2>
    <table border="1">
        <!-- Display column names as table headers -->
        <tr>
            {% for column in column_names %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        <!-- Display rows from the SQL query result -->
        {% for row in result %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    
    <h4>
        {{query}}
    </h4>
    {% if update_query %}
    <form method="get" action="{{ url_for('download_file') }}">
        <button type="submit">Download updated CSV file</button>
    </form>
    {% endif %}
{% endif %}

</body>
</html>
